article.event {
	background: #FDD207;
	color: #060C1C;
	padding-left: 25px;
}

article.event.older {
	opacity: 0.5;
}

article.event:hover {
	color: #FDD207;
	background: #060C1C;
}

article.event a {
	color: #060C1C;
}

article.event:hover a {
	color: #FDD207;
}

article.event:hover .date {
	border-bottom: 2px solid #FDD207;
}

article.event .entry-title {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
    height: 100px;
    line-height: 29px;
}

article.event .date {
	display: block;
	width: 100%;
	padding-bottom: 9px;
	font-size: 3.3em;
	border-bottom: 2px solid #060C1C;
	line-height: normal;
	font-weight: bold;
}

time.time {
	height: 36px;
	display: block;
}

article.event address {
	height: 45px;
	display: block;
	overflow: hidden;
	margin: 0;
}

article.event .entry-wrap {
	padding: 25px 0;
}

.featured-area img {
	width: 100%;
	height: auto;
}

.single-event address,
.single-event time,
.single-event .content {
	margin-top: 20px;
	display: block;
	position: relative;
}

.acf-map {
	height: 400px;
}


/* Events Calendar */

.cnc-events-calendar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.cnc-events-calendar .calendar--day {
	display: inline-block;
	text-align: center;
	position: relative;
	margin: 30px 5px 10px;
	padding: 0;
	color: #444;

	width: 45px;
	height: 45px;
	border: 1px solid transparent;
	-moz-border-radius: 45px;
	-webkit-border-radius: 45px;
	border-radius: 45px;
}
.cnc-events-calendar .calendar--day.event:hover {
	border-color: #00b1bb;
	background: #00b1bb;
	color: #fff;
}

.dayname {
	position: absolute;
	left: 0;
	right: 0;
	top: -26px;
	margin: 0 auto;
	color: #00b1bb;
	text-transform: uppercase;
	font-size: 0.8em;
}
.daynum {
	display: inline;
	line-height: 45px;
	vertical-align: middle;
	font-size: 26px;
}

.cnc-events-calendar .event {
	cursor: pointer;
	border: 1px solid #ddd;
}
.cnc-events-calendar .weekend {
	color: #c44;
}

.cnc-events-calendar .calendar--title {
	text-align: center;
	font-weight: normal;
	color: #9fc8c4;
	margin-bottom: 20px;
}
.cnc-events-calendar .calendar--title .active,
.cnc-events-calendar .calendar--title .separator {
	font-size: 1.3em;
	color: #00b1bb;
}

.calendar-text, .locations-text {
	cursor: pointer;
}

.calendar--date {
	text-transform: uppercase;
	text-align: center;
	font-size: 24px;
}

.calendar--pager {
	display: inline-block;
	cursor: pointer;
}
.next-month.calendar--pager {
	padding-left: 20px;
}
.prev-month.calendar--pager {
	padding-right: 20px;
}

.calendar--details {
	margin: 40px auto 0;
	width: 85%;
}
.calendar--details li {
	margin: 0 0 30px;
}

.calendar--details .calendar--event-day {
	display: none;
}
.calendar--details .calendar--event-day .title,
.calendar--details .calendar--event-day .date {
	letter-spacing: 3px;
	font-size: 1.7em;
	color: #2b353e;
	line-height: 1.1em;
	margin-bottom: 5px;
}
.calendar--details .calendar--event-day .date {
	font-size: 1.1em;
}
