article.event {
	background: #FDD207;
	color: #060C1C;
	padding-left: 25px;
}

article.event.older {
	opacity: 0.5;
}

article.event:hover {
	color: #FDD207;
	background: #060C1C;
}

article.event a {
	color: #060C1C;
}

article.event:hover a {
	color: #FDD207;
}

article.event:hover .date {
	border-bottom: 2px solid #FDD207;
}

article.event .entry-title {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
    height: 100px;
    line-height: 29px;
}

article.event .date {
	display: block;
	width: 100%;
	padding-bottom: 9px;
	font-size: 3.3em;
	border-bottom: 2px solid #060C1C;
	line-height: normal;
	font-weight: bold;
}

time.time {
	height: 36px;
	display: block;
}

article.event address {
	height: 45px;
	display: block;
	overflow: hidden;
	margin: 0;
}

article.event .entry-wrap {
	padding: 25px 0;
}

.featured-area img {
	width: 100%;
	height: auto;
}

.single-event address,
.single-event time,
.single-event .content {
	margin-top: 20px;
	display: block;
	position: relative;
}

.acf-map {
	height: 400px;
}
